
[submodule "cmsis/cmsis_core"]
	path = cmsis/cmsis_core
	url = https://github.com/STMicroelectronics/cmsis_core.git
[submodule "cmsis/cmsis_device_f1"]
	path = cmsis/cmsis_device_f1
	url = https://github.com/STMicroelectronics/cmsis_device_f1.git
[submodule "cmsis/cmsis_device_f2"]
	path = cmsis/cmsis_device_f2
	url = https://github.com/STMicroelectronics/cmsis_device_f2.git
[submodule "cmsis/cmsis_device_f3"]
	path = cmsis/cmsis_device_f3
	url = https://github.com/STMicroelectronics/cmsis_device_f3.git
[submodule "cmsis/cmsis_device_f4"]
	path = cmsis/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "cmsis/cmsis_device_f7"]
	path = cmsis/cmsis_device_f7
	url = https://github.com/STMicroelectronics/cmsis_device_f7.git
[submodule "cmsis/cmsis_device_h7"]
	path = cmsis/cmsis_device_h7
	url = https://github.com/STMicroelectronics/cmsis_device_h7.git
[submodule "cmsis/cmsis_device_g0"]
	path = cmsis/cmsis_device_g0
	url = https://github.com/STMicroelectronics/cmsis_device_g0.git
[submodule "cmsis/cmsis_device_g4"]
	path = cmsis/cmsis_device_g4
	url = https://github.com/STMicroelectronics/cmsis_device_g4.git
[submodule "cmsis/cmsis_device_l0"]
	path = cmsis/cmsis_device_l0
	url = https://github.com/STMicroelectronics/cmsis_device_l0.git
[submodule "cmsis/cmsis_device_l1"]
	path = cmsis/cmsis_device_l1
	url = https://github.com/STMicroelectronics/cmsis_device_l1.git
[submodule "cmsis/cmsis_device_l4"]
	path = cmsis/cmsis_device_l4
	url = https://github.com/STMicroelectronics/cmsis_device_l4.git
[submodule "cmsis/cmsis_device_l5"]
	path = cmsis/cmsis_device_l5
	url = https://github.com/STMicroelectronics/cmsis_device_l5.git
[submodule "cmsis/cmsis_device_wb"]
	path = cmsis/cmsis_device_wb
	url = https://github.com/STMicroelectronics/cmsis_device_wb.git
[submodule "drivers/stm32f0xx_hal_driver"]
	path = drivers/stm32f0xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f0xx_hal_driver.git
[submodule "drivers/stm32f1xx_hal_driver"]
	path = drivers/stm32f1xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f1xx_hal_driver.git
[submodule "drivers/stm32f2xx_hal_driver"]
	path = drivers/stm32f2xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f2xx_hal_driver.git
[submodule "drivers/stm32f3xx_hal_driver"]
	path = drivers/stm32f3xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f3xx_hal_driver.git
[submodule "drivers/stm32f4xx_hal_driver"]
	path = drivers/stm32f4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "drivers/stm32f7xx_hal_driver"]
	path = drivers/stm32f7xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f7xx_hal_driver.git
[submodule "drivers/stm32h7xx_hal_driver"]
	path = drivers/stm32h7xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32h7xx_hal_driver.git
[submodule "drivers/stm32l0xx_hal_driver"]
	path = drivers/stm32l0xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32l0xx_hal_driver.git
[submodule "drivers/stm32l1xx_hal_driver"]
	path = drivers/stm32l1xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32l1xx_hal_driver.git
[submodule "drivers/stm32l4xx_hal_driver"]
	path = drivers/stm32l4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32l4xx_hal_driver.git
[submodule "drivers/stm32wbxx_hal_driver"]
	path = drivers/stm32wbxx_hal_driver
	url = https://github.com/STMicroelectronics/stm32wbxx_hal_driver.git
[submodule "drivers/hal/stm32f0xx_hal_driver"]
	path = drivers/hal/stm32f0xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f0xx_hal_driver.git
[submodule "drivers/hal/stm32f1xx_hal_driver"]
	path = drivers/hal/stm32f1xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f1xx_hal_driver.git
[submodule "drivers/hal/stm32f2xx_hal_driver"]
	path = drivers/hal/stm32f2xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f2xx_hal_driver.git
[submodule "drivers/hal/stm32f3xx_hal_driver"]
	path = drivers/hal/stm32f3xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f3xx_hal_driver.git
[submodule "drivers/hal/stm32f4xx_hal_driver"]
	path = drivers/hal/stm32f4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "drivers/hal/stm32f7xx_hal_driver"]
	path = drivers/hal/stm32f7xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f7xx_hal_driver.git
[submodule "drivers/hal/stm32h7xx_hal_driver"]
	path = drivers/hal/stm32h7xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32h7xx_hal_driver.git
[submodule "drivers/hal/stm32l0xx_hal_driver"]
	path = drivers/hal/stm32l0xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32l0xx_hal_driver.git
[submodule "drivers/hal/stm32l1xx_hal_driver"]
	path = drivers/hal/stm32l1xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32l1xx_hal_driver.git
[submodule "drivers/hal/stm32l4xx_hal_driver"]
	path = drivers/hal/stm32l4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32l4xx_hal_driver.git
[submodule "drivers/hal/stm32g0xx_hal_driver"]
	path = drivers/hal/stm32g0xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32g0xx_hal_driver.git
[submodule "drivers/hal/stm32g4xx_hal_driver"]
	path = drivers/hal/stm32g4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32g4xx_hal_driver.git
[submodule "drivers/hal/stm32wbxx_hal_driver"]
	path = drivers/hal/stm32wbxx_hal_driver
	url = https://github.com/STMicroelectronics/stm32wbxx_hal_driver.git
[submodule "external/stm32_mw_freertos"]
	path = external/stm32_mw_freertos
	url = https://github.com/STMicroelectronics/stm32_mw_freertos.git
[submodule "external/stm32_mw_usb_device"]
	path = external/stm32_mw_usb_device
	url = https://github.com/STMicroelectronics/stm32_mw_usb_device.git
[submodule "external/stm32_mw_lwip"]
	path = external/stm32_mw_lwip
	url = https://github.com/STMicroelectronics/stm32_mw_lwip.git
[submodule "external/stm32_mw_usb_host"]
	path = external/stm32_mw_usb_host
	url = https://github.com/STMicroelectronics/stm32_mw_usb_host.git
[submodule "external/stm32_mw_fatfs"]
	path = external/stm32_mw_fatfs
	url = https://github.com/STMicroelectronics/stm32_mw_fatfs.git
[submodule "external/pystlink"]
	path = external/pystlink
	url = https://github.com/pavelrevak/pystlink.git
