
[submodule "HAL/STM32F4xx_HAL_Drivers"]
	path = HAL/STM32F4xx_HAL_Drivers
	url = https://github.com/STMicroelectronics/stm32f4xx_hal_driver.git
[submodule "HAL/STM32F7xx_HAL_Drivers"]
	path = HAL/STM32F7xx_HAL_Drivers
	url = https://github.com/STMicroelectronics/stm32f7xx_hal_driver.git
[submodule "HAL/CMSIS/Device/STM32F4"]
	path = HAL/CMSIS/Device/STM32F4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "HAL/CMSIS/Device/STM32F7"]
	path = HAL/CMSIS/Device/STM32F7
	url = https://github.com/STMicroelectronics/cmsis_device_f7.git
[submodule "LIB/cmsis_core"]
	path = LIB/cmsis_core
	url = https://github.com/STMicroelectronics/cmsis_core.git
[submodule "LIB/FreeRTOS"]
	path = LIB/FreeRTOS
	url = https://github.com/STMicroelectronics/stm32_mw_freertos.git
[submodule "LIB/FatFS"]
	path = LIB/FatFS
	url = https://github.com/STMicroelectronics/stm32_mw_fatfs.git
[submodule "LIB/LwIP"]
	path = LIB/LwIP
	url = https://github.com/STMicroelectronics/stm32_mw_LwIP.git
[submodule "LIB/STM32_USB_Device"]
	path = LIB/STM32_USB_Device
	url = https://github.com/STMicroelectronics/stm32_mw_usb_device.git
[submodule "LIB/STM32_USB_Host"]
	path = LIB/STM32_USB_Host
	url = https://github.com/STMicroelectronics/stm32_mw_usb_host.git
